
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 1em;
	margin: 50px;
	background: #222;
	color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
}


/* ---------- HEADER ------------------------- */

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 100%;
}

header h1 {
	padding-left: 30px;
	margin: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5em;
}

header img {
	object-fit: cover;
	border-radius: 50%;
}



/* ---------- ASIDE -------------------------- */

aside {
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

aside p {
	/*max-width: 700px;*/
	font-size: .9em;
	line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 0px;	
}


/* ---------- MAIN --------------------------- */

main {
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
}

main div {
	max-width: 45%;
}

main h2 {
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
}

form {
	margin: 0px;
	display: flex;
	flex-direction: column;
}

form * {
	display: block;
	margin: 10px 0px;
}

input,
select {
    display: block;
    margin-bottom: 20px;
    background: #eee;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: .8em;
    height: 3em;
}

input[type="submit"] {
	font-weight: bold;
}

small {
	color: #b6b6b6;
	font-size: .7em;
}

.results {
	background: #555;
    padding: 1em;
    border-radius: 5px;
    display: none;
}

.results p {
	text-transform: capitalize;
}



@media (max-width: 770px){
	/* DISCLAIMER: setting max-width is admittedly backward and not 
	necessarily the textbook "mobile first" way to do things. */
	header h1 {
		display: block;
		padding: 0;
	}
	header,
	main {
		flex-direction: column;
	}
	main h2,
	small {
		text-align: center;
	}
	main div {
		max-width: 100%;
	}
	main div:nth-child(2) {
		margin-top: 40px;
	}
}

@media (min-width: 771px){
	main div:nth-child(1) {
		margin-right: 25px;
	}	
}